---
import Header from '../components/Header.astro'

const pageTitle = 'About'

const identity = {
  firstName: "Caio",
  country: "Brazil",
  occupation: "Front End Developer",
  hobbies: ["arts", "photography", "video games"],
};

const skills = ["HTML", "CSS", "JavaScript", "Vue", "Astro", "Graphic Design"];

const happy = true;
const finished = false;
const goal = 3;
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{ pageTitle }</title>
    <link rel="stylesheet" href="/src/styles/styles.css">
</head>
<body>
    <Header></Header>

	<section class="section">
        <h1>{ pageTitle }</h1>
        <h2>... and my new Astro site!</h2>
        
        <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>
        
        <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
        
        <h3>Some things about me:</h3>
        <ul>
            <li>My name is { identity.firstName }</li>
            <li>I am from { identity.country }</li>
            <li>I work as a { identity.occupation }</li>
            {identity.hobbies.length >= 2 &&
                <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
              }
        </ul>

        <h3>Some cool skills of mine:</h3>
        <ul>
            {skills.map((skill) => <li>{skill}</li>)}
        </ul>

    {happy && <p>I am happy to be learning Astro!</p>}

    {finished && <p>I finished this tutorial!</p>}

    {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
    
	</section>
</body>
</html>

<style>
	.section {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		flex-direction: column;
	}

	.title {
		font-size: 3rem;
	}

	.subtitle {
		font-size: 1.5rem;
	}
</style>