---
import BaseLayout from "../layouts/BaseLayout.astro"
import Button from "../components/atoms/Button.astro"
---

<BaseLayout>
    <section class="section">
        <div class="text">
            <h1>THE ARCHIVES</h1>
            <p>Caio Abrahão's Project Dump Website</p>
            <p style="color: red; font-size: 1rem;">IM STILL MAKING THIS SITE, SO IT STILL LOOKS A BIT TRASH</p>
        </div>
        <div class="buttons">
            <Button link="/projects" label="VIEW PROJECTS"></Button>
            <Button link="/blog" label="ALSO, CHECK THE BLOG!"></Button>
        </div>
        
    </section>
</BaseLayout>

<style>

    .text {
        text-align: center;
    }

    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
    }

    .buttons{
        display: flex;
        gap: 1rem;
        justify-content: center;
    }
</style>
