---
import BaseLayout from "../layouts/BaseLayout.astro"
import Button from "../components/atoms/Button.astro"
---

<BaseLayout>
    <section class="section">
        <div class="text">
            <h1>THE ARCHIVES</h1>
            <p>Caio Abrahão's Project Dump Website</p>
        </div>
        <Button link="/projects" label="VIEW PROJECTS"></Button>
    </section>

    <section class="section">
        <div class="text">
            <h2>CHECK MY BLOG!</h2>
            <p>Read about my journey and learnings</p>
        </div>
        <Button link="/blog" label="READ TEH BLOG"></Button>
    </section>
</BaseLayout>

<style>

    .text {
        text-align: center;
    }

    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
    }
</style>
