---
import BaseLayout from "../layouts/BaseLayout.astro"
import ProjectCard from "../components/ProjectCard.astro"
---

<BaseLayout>
    <section class="section projects">
        <h1>Projects</h1>
        <div class="project-grid">
            <ProjectCard></ProjectCard>
            <ProjectCard></ProjectCard>
            <ProjectCard></ProjectCard>
            <ProjectCard></ProjectCard>
            <ProjectCard></ProjectCard>
        </div>
        
    </section>
</BaseLayout>

<style>
    .projects {
        display: flex;
        justify-content: center;
        gap: 2rem;
        min-height: 100vh;
        padding: 10%;
    }

    .project-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
</style>