---
import Hamburger from "./Hamburger.astro"
---


<header class="header">
    <Hamburger></Hamburger>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>
</header>

<style>
.header{
    display: flex;
    justify-content: flex-end;
    background-color: #161616;
    color: white;
    padding: 1rem 3rem;

    position: absolute;
    width: 100%;
}
.header nav a{
    color: inherit;
    text-decoration: none;
}
.header nav ul{
    list-style: none;
    display: flex;
    gap: 64px;
    align-items: center;
}


</style>