---
const { title='Project Name', description='Project Description', link='#' } = Astro.props;
import Button from './atoms/Button.astro';
---

<div class="project-card">
    <h2>{ title }</h2>
    <p class="description">{ description }</p>
    <Button link={ link } label="VIEW PROJECT"></Button>
</div>

<style>
    .project-card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 1.2rem;
        border: 1px solid #333;
        border-radius: 15px;
        gap: 16px;
    }

    h2 {
        font-size: 2rem;
    }

    .description {
        font-size: 1rem;
        opacity: .5;
        width: 60%;
    }

    a {
        display: block;
        margin-top: 1rem;
        text-align: center;
        background-color: #333;
        color: white;
        padding: 0.5rem;
        border-radius: 5px;
        text-decoration: none;
    }
</style>