---
const { link = '#', label = 'Button' } = Astro.props;
---

<a class={link === '#' ? 'button disabled' : 'button'} href={link}>{ label }</a>


<style>
.button {
    padding: 1rem 1.5rem;
    background-color: #162257;
    color: white;
    text-decoration: none;
    border-radius: 90px;
    transition: transform 0.2s;
    display: inline-block;
    width: fit-content;
}

.button:hover {
    transform: translateY(-2px);
}

.disabled{
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 90px;
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    display: inline-block;
    width: fit-content;
}
</style>